ion-tabs.tabs-icon-top.tabs-color-active-assertive
	ion-tab(title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/life")
		ion-nav-view(name="tab-life")
	ion-tab(title="附近" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/near")
		ion-nav-view(name="tab-near")
	ion-tab(title="精选" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/pick")
		ion-nav-view(name="tab-pick")
	ion-tab(title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/user")
		ion-nav-view(name="tab-user")