ion-view(title="商场")
	ion-nav-buttons(side="left")
		button.button.button-clear.button-icon.icon.ion-arrow-left-c(
			ng-click="goBack()")
	ion-content
		h1 mall-111111
		h2 mall-222222
		h3 mall-333333
